<main class="p-2 grid grid-cols-3 h-[calc(100vh-32px)] gap-2">
   <section class="border-[1.5px] border-line-default rounded-md h-full flex flex-col overflow-hidden">
      <h1 class="text-center font-semibold font-inter text-text-default text-lg bg-bg-tint-info py-1" >Section A</h1>
      <div class="flex flex-col gap-2 overflow-auto grow p-2">
         <app-card-drag-drop
            [dataCard]="{
               header: 'Thrives',
               description:
                  'Grateful in health, each day a gift, vitality thrives, joy abounds, blessings embraced.'
            }"
         ></app-card-drag-drop>
         <app-card-drag-drop
            [dataCard]="{
               header: 'Sakura',
               description:
                  'Grateful in health, each day a gift, vitality thrives, joy abounds, blessings embraced.'
            }"
         ></app-card-drag-drop>
         <app-card-drag-drop
            [dataCard]="{
               header: 'Orchards',
               description:
                  'Grateful in health, each day a gift, vitality thrives, joy abounds, blessings embraced.'
            }"
         ></app-card-drag-drop>
         <app-card-drag-drop
            [dataCard]="{
               header: 'Violet',
               description:
                  'Grateful in health, each day a gift, vitality thrives, joy abounds, blessings embraced.'
            }"
         ></app-card-drag-drop>
         <app-card-drag-drop
            [dataCard]="{
               header: 'Tulip',
               description:
                  'Grateful in health, each day a gift, vitality thrives, joy abounds, blessings embraced.'
            }"
         ></app-card-drag-drop>
      </div>
   </section>
   <section class="border-[1.5px] border-line-default rounded-md  h-full flex flex-col overflow-hidden">
	<h1 class="text-center font-semibold font-inter text-text-default text-lg bg-bg-tint-brand-subtle py-1">Section B</h1>
	<div class="flex flex-col gap-2 overflow-auto grow p-2">
	   <app-card-drag-drop
		 [dataCard]="{
		    header: 'Daisy',
		    description:
			  'Grateful in health, each day a gift, vitality thrives, joy abounds, blessings embraced.'
		 }"
	   ></app-card-drag-drop>
	   <app-card-drag-drop
		 [dataCard]="{
		    header: 'Lily',
		    description:
			  'Grateful in health, each day a gift, vitality thrives, joy abounds, blessings embraced.'
		 }"
	   ></app-card-drag-drop>
	</div>
  </section>
   <section class="border-[1.5px] border-line-default rounded-md   h-full flex flex-col overflow-hidden">
	<h1 class="text-center font-semibold font-inter text-text-default text-lg py-1 bg-bg-tint-discovery">Section C</h1>
	<div class="flex flex-col gap-2 overflow-auto grow p-2">
	   <app-card-drag-drop
		 [dataCard]="{
		    header: 'Sunflower',
		    description:
			  'Grateful in health, each day a gift, vitality thrives, joy abounds, blessings embraced.'
		 }"
	   ></app-card-drag-drop>
	</div>
  </section>
</main>
