<p-table
	[value]="dragDropLists()"
	styleClass="p-datatable-gridlines"
	[resizableColumns]="true"
>
	<ng-template pTemplate="header">
		<tr>
			<th pResizableColumn>Name</th >
			<th pResizableColumn>Category</th>
			<th pResizableColumn>Status</th>
			<th pResizableColumn>Description</th>
		</tr>
	</ng-template>
	<ng-template 
	pTemplate="body" 
	let-dragDropLists
	
	>
		<tr>
			<td class="flex flex-row gap-1 items-center">{{dragDropLists.name}} <img width="3" height="3" [ngSrc]="dragDropLists.image" class="h-10 w-10 object-cover rounded-full"></td>
			<td>{{dragDropLists.category}}</td>
			<td>{{dragDropLists.status}}</td>
			<td>{{dragDropLists.description}}</td>
		</tr>
	</ng-template>
</p-table>
