<section class="rounded-md border-[.0938rem] border-line-default flex flex-col gap-2 p-1 bg-slate-200">
	<div class="flex flex-row items-center justify-between">
		<img src="/assets/images/defaults/avatar.png" class="w-10 h-10 rounded-full object-fill" >
		<div class="flex gap-1">
			<ng-template *ngTemplateOutlet="CustomTemplate"></ng-template>
			<ng-content select="[headers]"></ng-content>
			<ng-content select="[headerf]"></ng-content>
			<ng-content select="[headerc]"></ng-content>
			<ng-template *ngTemplateOutlet="CustomTemplate"></ng-template>
		</div>

	</div>
	<ng-content select="[descf]"></ng-content>
</section>


<ng-content></ng-content>