@import url('./_variables.scss');

html {
  scrollbar-gutter: stable both-edges;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: var(--bg-solid-brand-subtle);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
