:root {
	--bg-solid-black: #000000;
	--master-anb-nv1: #000000;
	--master-anb-nb2: #29292a;
	--master-anb-nb3: #30303159;
	--master-anb-nb4: #35353699;
	--master-anb-nb5: #4d4d4d66;
	--master-anb-nb6: #595959e5;
	--master-anb-nb7: #666666;
	--master-anb-nb8: #808080;
	--master-anb-nb9: #cccccc;
	--master-anb-nb10: #ffffff;
	--master-anb-nb11: #ffffff;
	--master-anw-nw1: #ffffff40;
	--master-anw-nw2: #f9f9fbe5;
	--master-anw-nw3: #dee3ed99;
	--master-anw-nw4: #d9dce84d;
	--master-anw-nw5: #909cbb4d;
	--master-anw-nw6: #a0a8c566;
	--master-anw-nw7: #818bb1;
	--master-anw-nw8: #58638e;
	--master-anw-nw9: #3a445f;
	--master-anw-nw10: #282d3e;
	--master-anw-nw11: #000000;
	--master-bw-black: #000000;
	--master-bw-white: #ffffff;
	--master-p-p-1: #fadbdd;
	--master-p-p-2: #f7bac1;
	--master-p-p-3: #f39aa4;
	--master-p-p-4: #ef7180;
	--master-p-p-5: #ea495c;
	--master-p-p-6: #e52138;
	--master-p-p-7: #c31c30;
	--master-p-p-8: #a31728;
	--master-p-p-9: #781e28;
	--master-p-p-10: #401c20;
	--master-g-g-1: #c4eeda;
	--master-g-g-2: #9de2c1;
	--master-g-g-3: #76d5a9;
	--master-g-g-4: #4fca90;
	--master-g-g-5: #36b077;
	--master-g-g-6: #10a25e;
	--master-g-g-7: #178250;
	--master-g-g-8: #1d724a;
	--master-g-g-9: #22503a;
	--master-g-g-10: #053821;
	--master-nw-nw3: #f1f2f4;
	--master-nw-nw1: #ffffff;
	--master-nw-nw2: #f9f9fb;
	--master-nw-nw4: #d9dce8;
	--master-nw-nw5: #909abb;
	--master-nw-nw6: #818bb1;
	--master-nw-nw7: #616e9e;
	--master-nw-nw8: #444d6e;
	--master-nw-nw9: #3a445f;
	--master-nw-nw10: #282d3e;
	--master-nw-nw11: #000000;
	--master-nb-nb5: #5c5c5c;
	--master-nb-nv1: #000000;
	--master-nb-nb2: #262627;
	--master-nb-nb6: #666666;
	--master-nb-nb7: #737373;
	--master-nb-nb8: #8c8c8c;
	--master-nb-nb9: #cccccc;
	--master-nb-nb4: #3f3f41;
	--master-nb-nb3: #323234;
	--master-nb-nb10: #ffffff;
	--master-nb-nb11: #ffffff;
	--master-e-e-1: #f5c3bc;
	--master-e-e-2: #f2afa6;
	--master-e-e-3: #f09d93;
	--master-e-e-4: #e55f4d;
	--master-e-e-5: #e0361f;
	--master-e-e-6: #ad2f1f;
	--master-e-e-7: #7a291f;
	--master-e-e-8: #86382d;
	--master-e-e-9: #64312b;
	--master-e-e-10: #33211f;
	--master-m-m-1: #f7bae4;
	--master-m-m-2: #f6a1dd;
	--master-m-m-3: #f58ad4;
	--master-m-m-4: #f273cd;
	--master-m-m-5: #f05cc4;
	--master-m-m-6: #ea15aa;
	--master-m-m-7: #c32294;
	--master-m-m-8: #af2c87;
	--master-m-m-9: #7b3566;
	--master-m-m-10: #301d2a;
	--master-y-y-1: #fdf1c4;
	--master-y-y-2: #fce89c;
	--master-y-y-3: #fbdb6a;
	--master-y-y-4: #f9cf39;
	--master-y-y-5: #f8ca20;
	--master-y-y-6: #c69c06;
	--master-y-y-7: #917308;
	--master-y-y-8: #7a651a;
	--master-y-y-9: #594e26;
	--master-y-y-10: #302c1d;
	--master-c-c-1: #bcf0f6;
	--master-c-c-2: #9ce7f2;
	--master-c-c-3: #74deec;
	--master-c-c-4: #43d3e4;
	--master-c-c-5: #1ec6dc;
	--master-c-c-6: #19a2b3;
	--master-c-c-7: #148290;
	--master-c-c-8: #1f707a;
	--master-c-c-9: #265359;
	--master-c-c-10: #1d2e30;
	--master-b-b-1: #eaf4ff;
	--master-b-b-2: #cde4fe;
	--master-b-b-3: #a5cffd;
	--master-b-b-4: #7bb9fc;
	--master-b-b-5: #54a4fb;
	--master-b-b-6: #2e90fa;
	--master-b-b-7: #277ad5;
	--master-b-b-8: #2b66a8;
	--master-b-b-9: #335376;
	--master-b-b-10: #171e26;
	--master-o-o-1: #fdf0e9;
	--master-o-o-2: #fbdbc9;
	--master-o-o-3: #f8bf9f;
	--master-o-o-4: #f5a173;
	--master-o-o-5: #f28448;
	--master-o-o-6: #ef6920;
	--master-o-o-7: #c35b23;
	--master-o-o-8: #9a5027;
	--master-o-o-9: #6c442e;
	--master-o-o-10: #30231d;
	--master-t-t-1: #a7f1ea;
	--master-t-t-2: #90eee3;
	--master-t-t-3: #65e7d7;
	--master-t-t-4: #39e0cc;
	--master-t-t-5: #1fc6b3;
	--master-t-t-6: #05ae99;
	--master-t-t-7: #1ca190;
	--master-t-t-8: #27766d;
	--master-t-t-9: #2c524d;
	--master-t-t-10: #1d302e;
 
	--alpha-transparent: var(--master-anw-nw2);
	--alpha-on-low-hover: var(--master-anw-nw6);
	--alpha-on-surface: var(--master-anw-nw3);
	--alpha-on-surface-hover: var(--master-anw-nw4);
	--alpha-on-low: var(--master-anw-nw5);
	--bg-tint-net-subtle: var(--master-nw-nw3);
	--bg-tint-net: var(--master-nw-nw2);
	--bg-tint-net-subtler: var(--master-nw-nw4);
	--bg-tint-net-darker: var(--master-nw-nw5);
	--bg-tint-orange-darker: var(--master-o-o-3);
	--bg-tint-orange-subtle: var(--master-o-o-2);
	--bg-tint-orange: var(--master-o-o-1);
	--bg-tint-magenta-darker: var(--master-m-m-3);
	--bg-tint-magenta-subtle: var(--master-m-m-2);
	--bg-tint-magenta: var(--master-m-m-1);
	--bg-tint-teal-darker: var(--master-t-t-3);
	--bg-tint-teal-subtle: var(--master-t-t-2);
	--bg-tint-teal: var(--master-t-t-1);
	--bg-tint-discovery-darker: var(--master-b-b-3);
	--bg-tint-discovery-subtle: var(--master-b-b-2);
	--bg-tint-discovery: var(--master-b-b-1);
	--bg-tint-info-darker: var(--master-c-c-3);
	--bg-tint-info-subtle: var(--master-c-c-2);
	--bg-tint-info: var(--master-c-c-1);
	--bg-tint-warning-darker: var(--master-y-y-3);
	--bg-tint-warning-subtle: var(--master-y-y-2);
	--bg-tint-warning: var(--master-y-y-1);
	--bg-tint-success-darker: var(--master-g-g-3);
	--bg-tint-success-subtle: var(--master-g-g-2);
	--bg-tint-success: var(--master-g-g-1);
	--bg-tint-error-darker: var(--master-e-e-3);
	--bg-tint-error-subtle: var(--master-e-e-2);
	--bg-tint-error: var(--master-e-e-1);
	--bg-tint-brand-darker: var(--master-p-p-3);
	--bg-tint-brand-subtle: var(--master-p-p-2);
	--bg-tint-brand: var(--master-p-p-1);
	--bg-tint-white: var(--master-bw-white);
	--bg-solid-orange-darker: var(--master-o-o-7);
	--bg-solid-orange-subtle: var(--master-o-o-5);
	--bg-solid-magenta-darker: var(--master-m-m-7);
	--bg-solid-magenta-subtle: var(--master-m-m-5);
	--bg-solid-teal-darker: var(--master-t-t-7);
	--bg-solid-teal-subtle: var(--master-t-t-5);
	--bg-solid-discovery-darker: var(--master-b-b-7);
	--bg-solid-discovery-subtle: var(--master-b-b-5);
	--bg-solid-info-darker: var(--master-c-c-7);
	--bg-solid-info-subtle: var(--master-c-c-5);
	--bg-solid-warning-darker: var(--master-y-y-7);
	--bg-solid-warning-subtle: var(--master-y-y-5);
	--bg-solid-success-darker: var(--master-g-g-7);
	--bg-solid-success-subtle: var(--master-g-g-5);
	--bg-solid-error-darker: var(--master-e-e-7);
	--bg-solid-error-subtle: var(--master-e-e-5);
	--bg-solid-brand-darker: var(--master-p-p-7);
	--bg-solid-brand-subtle: var(--master-p-p-5);
	--bg-solid-orange: var(--master-o-o-6);
	--bg-solid-magenta: var(--master-m-m-6);
	--bg-solid-teal: var(--master-t-t-6);
	--bg-solid-discovery: var(--master-b-b-6);
	--bg-solid-info: var(--master-c-c-6);
	--bg-solid-warning: var(--master-y-y-6);
	--bg-solid-success: var(--master-g-g-6);
	--bg-solid-error: var(--master-e-e-6);
	--bg-solid-brand: var(--master-p-p-6);
	--bg-solid-white: var(--master-nw-nw1);
	--line-subtle: var(--master-nw-nw3);
	--line-orange: var(--master-o-o-6);
	--line-magenta: var(--master-m-m-6);
	--line-teal: var(--master-t-t-6);
	--line-discovery: var(--master-b-b-6);
	--line-info: var(--master-c-c-6);
	--line-warning: var(--master-y-y-6);
	--line-success: var(--master-g-g-6);
	--line-error: var(--master-e-e-6);
	--line-brand: var(--master-p-p-6);
	--line-white: var(--master-nw-nw1);
	--line-default: var(--master-nw-nw4);
	--icon-orange: var(--master-o-o-6);
	--icon-magenta: var(--master-m-m-6);
	--icon-teal: var(--master-t-t-6);
	--icon-discovery: var(--master-b-b-6);
	--icon-info: var(--master-c-c-6);
	--icon-warning: var(--master-y-y-6);
	--icon-success: var(--master-g-g-6);
	--icon-error: var(--master-e-e-6);
	--icon-brand: var(--master-p-p-6);
	--icon-white: var(--master-nw-nw1);
	--icon-subtler: var(--master-nw-nw4);
	--icon-subtle: var(--master-nw-nw6);
	--icon-default: var(--master-nw-nw7);
	--text-subtlest: var(--master-nw-nw5);
	--text-orange: var(--master-o-o-6);
	--text-magenta: var(--master-m-m-6);
	--text-teal: var(--master-t-t-6);
	--text-discovery: var(--master-b-b-6);
	--text-info: var(--master-c-c-6);
	--text-success: var(--master-g-g-6);
	--text-warning: var(--master-y-y-6);
	--text-error: var(--master-e-e-6);
	--text-brand: var(--master-p-p-6);
	--text-subtler: var(--master-nw-nw7);
	--text-subtle: var(--master-nw-nw8);
	--text-white: var(--master-bw-white);
	--text-default: var(--master-nw-nw9);
	--surface-lower: var(--master-nw-nw4);
	--surface-low: var(--master-nw-nw3);
	--surface-default: var(--master-nw-nw2);
	--surface-high: var(--master-nw-nw1);
 }
 
 body.dark {
	--alpha-transparent: var(--master-anb-nb2);
	--alpha-on-low-hover: var(--master-anb-nb6);
	--alpha-on-surface: var(--master-anb-nb3);
	--alpha-on-surface-hover: var(--master-anb-nb4);
	--alpha-on-low: var(--master-anb-nb5);
	--bg-tint-net-subtle: var(--master-nb-nb3);
	--bg-tint-net: var(--master-nb-nb2);
	--bg-tint-net-subtler: var(--master-nb-nb4);
	--bg-tint-net-darker: var(--master-nb-nb5);
	--bg-tint-orange-darker: var(--master-o-o-8);
	--bg-tint-orange-subtle: var(--master-o-o-9);
	--bg-tint-orange: var(--master-o-o-10);
	--bg-tint-magenta-darker: var(--master-m-m-8);
	--bg-tint-magenta-subtle: var(--master-m-m-9);
	--bg-tint-magenta: var(--master-m-m-10);
	--bg-tint-teal-darker: var(--master-t-t-8);
	--bg-tint-teal-subtle: var(--master-t-t-9);
	--bg-tint-teal: var(--master-t-t-10);
	--bg-tint-discovery-darker: var(--master-b-b-8);
	--bg-tint-discovery-subtle: var(--master-b-b-9);
	--bg-tint-discovery: var(--master-b-b-10);
	--bg-tint-info-darker: var(--master-c-c-8);
	--bg-tint-info-subtle: var(--master-c-c-9);
	--bg-tint-info: var(--master-c-c-10);
	--bg-tint-warning-darker: var(--master-y-y-8);
	--bg-tint-warning-subtle: var(--master-y-y-9);
	--bg-tint-warning: var(--master-y-y-10);
	--bg-tint-success-darker: var(--master-g-g-8);
	--bg-tint-success-subtle: var(--master-g-g-9);
	--bg-tint-success: var(--master-g-g-10);
	--bg-tint-error-darker: var(--master-e-e-8);
	--bg-tint-error-subtle: var(--master-e-e-9);
	--bg-tint-error: var(--master-e-e-10);
	--bg-tint-brand-darker: var(--master-p-p-8);
	--bg-tint-brand-subtle: var(--master-p-p-9);
	--bg-tint-brand: var(--master-p-p-10);
	--bg-tint-white: var(--master-bw-white);
	--bg-solid-orange-darker: var(--master-o-o-7);
	--bg-solid-orange-subtle: var(--master-o-o-5);
	--bg-solid-magenta-darker: var(--master-m-m-7);
	--bg-solid-magenta-subtle: var(--master-m-m-5);
	--bg-solid-teal-darker: var(--master-t-t-7);
	--bg-solid-teal-subtle: var(--master-t-t-5);
	--bg-solid-discovery-darker: var(--master-b-b-7);
	--bg-solid-discovery-subtle: var(--master-b-b-5);
	--bg-solid-info-darker: var(--master-c-c-7);
	--bg-solid-info-subtle: var(--master-c-c-5);
	--bg-solid-warning-darker: var(--master-y-y-7);
	--bg-solid-warning-subtle: var(--master-y-y-5);
	--bg-solid-success-darker: var(--master-g-g-7);
	--bg-solid-success-subtle: var(--master-g-g-5);
	--bg-solid-error-darker: var(--master-e-e-7);
	--bg-solid-error-subtle: var(--master-e-e-5);
	--bg-solid-brand-darker: var(--master-p-p-7);
	--bg-solid-brand-subtle: var(--master-p-p-5);
	--bg-solid-orange: var(--master-o-o-6);
	--bg-solid-magenta: var(--master-m-m-6);
	--bg-solid-teal: var(--master-t-t-6);
	--bg-solid-discovery: var(--master-b-b-6);
	--bg-solid-info: var(--master-c-c-6);
	--bg-solid-warning: var(--master-y-y-6);
	--bg-solid-success: var(--master-g-g-6);
	--bg-solid-error: var(--master-e-e-6);
	--bg-solid-brand: var(--master-p-p-6);
	--bg-solid-white: var(--master-nw-nw1);
	--line-subtle: var(--master-nb-nb3);
	--line-orange: var(--master-o-o-5);
	--line-magenta: var(--master-m-m-5);
	--line-teal: var(--master-t-t-5);
	--line-discovery: var(--master-b-b-5);
	--line-info: var(--master-c-c-5);
	--line-warning: var(--master-y-y-5);
	--line-success: var(--master-g-g-5);
	--line-error: var(--master-e-e-5);
	--line-brand: var(--master-p-p-6);
	--line-white: var(--master-nw-nw1);
	--line-default: var(--master-nb-nb4);
	--icon-orange: var(--master-o-o-5);
	--icon-magenta: var(--master-m-m-5);
	--icon-teal: var(--master-t-t-5);
	--icon-discovery: var(--master-b-b-5);
	--icon-info: var(--master-c-c-5);
	--icon-warning: var(--master-y-y-5);
	--icon-success: var(--master-g-g-5);
	--icon-error: var(--master-e-e-5);
	--icon-brand: var(--master-p-p-6);
	--icon-white: var(--master-nw-nw1);
	--icon-subtler: var(--master-nb-nb4);
	--icon-subtle: var(--master-nb-nb6);
	--icon-default: var(--master-nb-nb7);
	--text-subtlest: var(--master-nb-nb5);
	--text-orange: var(--master-o-o-5);
	--text-magenta: var(--master-m-m-5);
	--text-teal: var(--master-t-t-5);
	--text-discovery: var(--master-b-b-5);
	--text-info: var(--master-c-c-5);
	--text-success: var(--master-g-g-5);
	--text-warning: var(--master-y-y-5);
	--text-error: var(--master-e-e-5);
	--text-brand: var(--master-p-p-6);
	--text-subtler: var(--master-nb-nb7);
	--text-subtle: var(--master-nb-nb8);
	--text-white: var(--master-bw-white);
	--text-default: var(--master-nb-nb9);
	--surface-lower: var(--master-nb-nb4);
	--surface-low: var(--master-nb-nb3);
	--surface-default: var(--master-nb-nb2);
	--surface-high: var(--master-nb-nv1);
 }